<!DOCTYPE html>
<html>

<head>
    <meta charset="UFT-8">
    <meta name="description" content="Home Page Of About Me Website">
    <meta name="author" content="Donovan Jackson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donovan Jackson - Frontend Web Developer</title>
    <link rel="stylesheet" href="../css/normalize-css-copy.css">
    <link rel="stylesheet" href="../css/main-style.css">
</head>



<body>
    <header class="main-header">
        <div class="logo">Home Button Via Logo</div>
        <nav>
            <a href="#">Home</a>
            <a href="#">Resume</a>
            <a href="#">Projects</a>
            <a href="#">Contact Information</a>
        </nav>
    </header>
    <div class="page-content">
        <main>
            This is where the main content is. This is where the main content is. This is where the main content is. This is where the main content is. This is where the main content is. This is where the main content is. This is where the main content is. This is
            where the main content is. This is where the main content is. This is where the main content is. This is where the main content is. This is where the main content is. This is where the main content is. This is where the main content is. This
            is where the main content is. This is where the main content is. This is where the main content is. This is where the main content is. This is where the main content is. This is where the main content is.
            <!--lorem20-->Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quidem nostrum temporibus numquam. Facere alias libero molestiae aspernatur! Aperiam, natus.
        </main>

    </div>
    <!--page-content-->


    <footer class="main-footer">

    </footer>
</body>

</html>